@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    scroll-behavior: smooth;
}

.eczar {
    font-family: "Eczar", serif;
}

.worksans {
    font-family: "Work Sans", sans-serif;
}

input::placeholder {
    color: black;
}

textarea::placeholder {
    color: black;
}